h1
{
	font-size: 250%;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
body {
	background-color: red;
}
h2
{
	margin-left: 35%;
}
h3
{
	margin-left: 45%;
}

#search 
{
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.sideb
{
	margin-right: 20px;
	padding: 2px 2px 2px 2px;
}
.info
{
	position: relative;
	text-align: center;
}
.butti
{
	margin-left: 37.5%;
	margin-top: 5px;
}
.buttl
{
	margin-left: 40%;
	margin-top: 5px;
}
.buttr
{
	margin-left: 39.5%;
	margin-top: 5px;
}
#logform
{
	margin-top: 5%;
}
#welcome
{
	margin-top: 40px;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}
#loginForm
{
	display: none;
	/*float: right;*/
	list-style-type: none;

}
#login 
{
	float: right;
}
#onleft
{
	margin-left: 10%;
}
.logb
{
	display: inline;
}
.options
{
	border-style: solid;
	border-width: 5px;
	padding-right: 5%;
	height: 80%;
	float: left;
	background-color: red;
	position: relative;
}

.border
{
	border-style: solid;
	border-top: thin;
	border-left: none;
	border-top: none;
	border-right: none;
	position: relative;
	margin-top: 150px;

}
