body 
{
	background-color: blue;
}
h1
{
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}
h2
{
	margin-left: 35%;
}
h3
{
	margin-left: 40%;
}
#sidebar
{
	list-style: none;
	float: left;
	height: 100%;
}
.sideb
{
	margin-right: 20px;
	background-color: white;
	padding: 2px 2px 2px 2px;
}
.info
{
	margin-left: 5%;
	text-align: center;
}
.form
{
	background-color: gray;
	border-style: solid;
	border-width: 2px;
	width: 70%;
	margin-left: 15%;
	margin-top: 5%;
}
#search
{
	padding: 2px 2px 2px 2px;
	background-color: white;
	margin-right: 5%;
	padding-right: 50%;
	border-width: 3px;
	border-style: solid;
}
.field
{
	border-style: solid;
	border-width: 1px;
	width: 15%;
	margin-left: 37.5%;
	color: gray;
	background-color: white;
}
.butt
{
	text-align: center;
	background-color: gray;
	border-style: solid;
	border-width: 1px;
	width: 15%;
	margin-left: 37.5%;
}
#welcome
{
	position: relative;
	margin-left: 40%;
	text-align: center;
	font-size: 120%;
	font-weight: bold;	
}
#login
{
	float: right;
}
#onleft
{
	margin-left: 10%;
}
.logb
{
	display: inline;
	background-color: gray;
}
.options
{
	border-style: solid;
	border-width: 5px;
	padding-right: 5%;
	height: 80%;
	float: left;
	background-color: red;
	position: relative;
}
